<% layout("/layouts/biolerplate") %>
<div class="row mt-3">
    <div class="alert alert-danger d-flex align-items-center col-6 offset-3" role="alert">
      <i class="bi bi-exclamation-triangle-fill me-2"></i> <!-- Bootstrap Icon -->
      <div class="alert-heading">
        <%= message %>
      </div>
    </div>  
  </div>
  