<% layout("/layouts/biolerplate") %>
    <body>
        <h3>All listings</h3>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" >
        <%for(list of alllistings){%>
        <a href="/listings/<%= list._id %>">
        <div class="card">
            <img src="<%= list.image.url %>" class="card-img-top hover01" alt="Listing Image"  style="height:20rem"/>
            <div class="card-body">
              <p class="card-text">
                <b><%= list.title %></b>
                <br>
                &#8377;<%= list.price ? list.price.toLocaleString("en-IN") : "Price Not Available" %>/night

              </p>
            </div>
          </div>
        <%}%>
        </div>
        </a>
    </body>
